# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Build
build/
dist/

# Audio temporal
audio/*.mp3
audio/*.wav

# ffmpeg binario local (si lo descargaste manualmente)
ffmpeg/